modules = ["python-3.12", "nodejs-20", "cpp-clang14", "c-clang14"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 80
